.Container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: rgba(0.0, 0.0, 0.0, 0.5);
  box-shadow: inset 0 0px 256px rgba(0,0,0,1);
}

.Message{
  color: var(--martian-red);
}